* {
    margin: 0;
    padding: 0;
    color: #343a40;
}
a {
    color: #343a40;
}
.register {
    padding: 40px;
    width: 400px;
    margin: 0 auto;
}
header {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
main {
    margin: 20px;
}
.entry {
    width: 60%;
    margin: 0 auto;
}
.entry p {
    text-align: center;
    margin-bottom: 0;
}
ol, li {
    margin-top: 5px;
}
.center {
    display: flex;
    justify-content: center;
}