<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="register">
        <h2 class="center">Welcome!</h2>
        <form action="/register_user" method="POST">
            {% csrf_token %}
            <div class="form-group">
                Name: <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
                Alias: <input type="text" class="form-control" name="alias">
            </div>
            <div class="form-group">
                Age: <input type="number" class="form-control" name="age">
            </div>
            <div class="form-group">
                Email: <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
                Password: <input type="password" class="form-control" name="password">
            </div>
            <p>(Password should be at least 8 characters)</p>
            <div class="form-group">
                Confirm Password: <input type="password" class="form-control" name="confirm_password">
            </div>
            <div class="form-group center">
                <input type="submit" class="btn btn-primary center" value="Register">
            </div>
        </form>
        <div class="center">
            {% if messages %}
                {% for message in messages %}
                    {% if message.extra_tags == "reg" %}
                    <p style="color: red">{{message}}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="or">
            <hr>
            <p class="center">OR</p>
            <hr>
        </div>
        <a class="center" href="/">Login</a>
    </div>
</body>
</html>